# Development Environment Variables
# Copy this file to .env.local and update the values as needed

# Next.js Environment
NODE_ENV=development
# Base URL for API
NEXT_PUBLIC_API_BASE_URL=http://localhost:3003/api/
# File URL for API
NEXT_PUBLIC_API_FILE_URL=http://localhost:3003/

